.html,body {
 
 margin: 0;
 height: 100%;
 font-family: "roboto","Outfit";
 max-width: 100%;
 background-color: rgb(248, 229, 232);
}

*{
 margin: o;
 padding: 0;
 box-sizing: border-box;
}

section {
 padding: 5vw;
}

.main {
 border-radius: 25PX;
 display: block;
 height: auto;
 width: 100%;
 min-width: 100%;
}
.head-img {
 width: 100%;
 min-width: 100%;
 padding: 5vw;
}

  

header h1 {
 font-weight: 600;
 font-size: 70px;
 font-family: sans-serif;
 padding-left: 5vw;
}

header p {
 font-size: 26px;
 font-family: [Young Serif];
 font-weight: 400;
 padding-left: 5vw;
}

h3 {
 font-size: 40px;
 color: rgb(122, 49, 122);
}

.pre-time {
 background-color: rgb(224, 195, 200);
 border-radius: 20px;
 padding-left: 50px;
 padding-top: 10px;
 padding-bottom: 10px;
}

.pre-time ul li {
 margin: 25px;
 font-size: 26px;
}
.pre-time ul li span {
 font-weight: 700;
 margin-right: 5px;
}

.ingredients  ul li,
.instruction  dl li {
 margin-bottom: 12px;
 font-size: 26px;
}

.nutrition ul li,p {
 line-height: 1.6;
 margin-bottom: 12px;
 font-size: 26px;
}

@media (max-width: 768px) {
 .main {
  padding: 0;
  width: 100%;
  min-width: 100%;
  border-radius: 25PX;
  display: block;
  height: auto;}

 .head-img {
   width: 100%;
   min-width: 100%;
  padding: 0;}

   header h1 {
    font-weight: 600;
    font-size: 30px;
    font-family: sans-serif;
    padding-left: 5vw;
   }

   header p {
    font-size: 15px;
   }
   
.ingredients  ul li,
.instruction  dl li,
.pre-time ul li,
.nutrition ul li,p
 {font-size: 15px;}
 .nutritional-content ul li {font-size: 15px;}
 
}

h3 {
 font-size: 20px;
}